In [1]:
import pandas as pd
import requests
requisicao = requests.get("https://pt.wikipedia.org/wiki/Campeonato_Brasileiro_de_Futebol_de_2024_-_S%C3%A9rie_A")

tabelas = pd.read_html(requisicao.text)

tabela_classificacao = tabelas[6]
tabela_jogos = tabelas[7]
display(tabela_jogos)

nomes_times = list(tabela_jogos["Casa \ Fora"])
apelidos = list(tabela_jogos.columns)
apelidos.pop(0)
de_para_times = dict(zip(apelidos, nomes_times))

<>:11: SyntaxWarning: invalid escape sequence '\ '
<>:11: SyntaxWarning: invalid escape sequence '\ '
/tmp/ipykernel_4038/175424655.py:11: SyntaxWarning: invalid escape sequence '\ '
  nomes_times = list(tabela_jogos["Casa \ Fora"])
/tmp/ipykernel_4038/175424655.py:5: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tabelas = pd.read_html(requisicao.text)

,Casa \ Fora,ATP,ATG,ATM,BAH,BOT,COR,CRI,CRU,CUI,...,FLU,FOR,GRE,INT,JUV,PAL,RBB,SPA,VAS,VIT
0,Athletico Paranaense,—,2–0,1–0,1–3,0–1,1–1,3–1,3–0,4–0,...,a,1–1,0–2,1–0,1–2,0–2,NaN,1–2,1–0,1–2
1,Atlético Goianiense,1–2,—,1–0,1–1,1–4,2–2,1–2,0–1,0–0,...,1–0,NaN,1–1,1–0,2–1,0–1,0–0,0–3,0–1,0–2
2,Atlético Mineiro,NaN,1–1,—,1–1,0–0,2–1,1–1,3–0,1–1,...,0–2,1–1,2–1,1–3,NaN,0–4,3–0,2–1,2–0,2–2
3,Bahia,1–1,NaN,3–0,—,0–0,0–1,1–0,4–1,1–2,...,2–1,1–0,1–0,1–1,2–0,1–2,1–0,0–3,2–1,2–0
4,Botafogo,1–1,1–0,3–0,1–2,—,2–1,1–1,0–3,0–0,...,1–0,2–0,0–0,1–0,5–1,1–0,2–1,a,3–0,1–1
5,Corinthians,5–2,3–0,0–0,a,0–1,—,2–1,2–1,1–1,...,3–0,0–0,2–2,2–2,1–1,2–0,1–1,2–2,3–1,3–2
6,Criciúma,0–0,2–0,2–1,2–2,2–1,NaN,—,1–0,2–5,...,1–1,1–1,0–1,1–1,1–1,1–2,1–0,1–1,2–2,0–1
7,Cruzeiro,2–0,3–1,0–0,1–1,3–2,3–0,2–1,—,2–1,...,2–0,1–2,NaN,0–0,2–0,a,2–1,0–1,1–1,3–1
8,Cuiabá,1–2,0–0,0–3,NaN,1–2,0–1,2–1,0–0,—,...,0–1,5–0,1–3,0–1,0–0,0–2,1–1,2–0,NaN,0–0
9,Flamengo,1–0,2–0,0–0,2–1,0–2,2–0,2–1,2–1,1–1,...,0–2,1–2,2–1,a,4–2,1–1,2–1,2–1,1–1,NaN
10,Fluminense,1–0,1–2,2–2,1–0,0–1,0–0,NaN,1–0,NaN,...,—,2–2,2–2,1–1,1–1,1–0,2–2,2–0,2–1,0–1
11,Fortaleza,1–0,3–1,1–1,4–1,1–1,1–0,1–0,1–1,1–0,...,1–0,—,1–0,NaN,2–1,3–0,1–1,1–0,3–0,3–1
12,Grêmio,2–0,3–1,2–3,0–2,1–2,a,1–2,0–2,1–0,...,1–0,3–1,—,0–1,2–2,2–2,0–2,a,1–0,2–0
13,Internacional,2–2,1–1,1–2,2–1,NaN,1–0,2–0,1–0,3–0,...,2–0,2–1,1–0,—,2–1,1–1,4–1,0–0,1–2,3–1
14,Juventude,1–1,1–0,1–1,2–1,3–2,2–0,1–2,NaN,1–1,...,2–1,0–3,3–0,1–3,—,3–5,1–1,0–0,2–0,1–1
15,Palmeiras,0–2,3–1,2–1,2–0,a,2–0,5–0,2–0,5–0,...,a,2–2,1–0,0–1,3–1,—,2–1,2–1,2–0,0–2
16,Red Bull Bragantino,1–0,3–1,1–2,2–1,0–1,1–0,NaN,NaN,0–0,...,0–1,1–2,2–2,2–2,2–1,0–0,—,1–1,2–1,2–1
17,São Paulo,2–1,1–0,2–2,3–1,2–2,3–1,2–1,2–0,0–1,...,2–1,1–2,1–0,1–3,NaN,0–0,2–0,—,3–0,2–1
18,Vasco da Gama,2–1,NaN,a,3–2,1–1,2–0,0–4,0–0,1–0,...,2–0,2–0,2–1,0–1,1–1,0–1,2–2,4–1,—,2–1
19,Vitória,0–1,0–2,4–2,2–2,0–1,1–2,2–1,2–2,1–0,...,2–1,NaN,NaN,2–1,1–0,0–1,1–0,1–3,0–1,—

In [2]:
tabela_jogos_ajustada = tabela_jogos.set_index("Casa \ Fora")
tabela_jogos_ajustada = tabela_jogos_ajustada.unstack().reset_index()
tabela_jogos_ajustada = tabela_jogos_ajustada.rename(columns={"level_0": "fora", "Casa \ Fora": "casa", 0: "resultado"})

def ajustar_apelido_time(linha):
    apelido = linha["fora"]
    nome = de_para_times[apelido]
    return nome

tabela_jogos_ajustada["fora"] = tabela_jogos_ajustada.apply(ajustar_apelido_time, axis=1)
tabela_jogos_ajustada = tabela_jogos_ajustada[tabela_jogos_ajustada["fora"]!=tabela_jogos_ajustada["casa"]]
display(tabela_jogos_ajustada)

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:3: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:3: SyntaxWarning: invalid escape sequence '\ '
/tmp/ipykernel_4038/3934815574.py:1: SyntaxWarning: invalid escape sequence '\ '
  tabela_jogos_ajustada = tabela_jogos.set_index("Casa \ Fora")
/tmp/ipykernel_4038/3934815574.py:3: SyntaxWarning: invalid escape sequence '\ '
  tabela_jogos_ajustada = tabela_jogos_ajustada.rename(columns={"level_0": "fora", "Casa \ Fora": "casa", 0: "resultado"})

                     fora                 casa resultado
1    Athletico Paranaense  Atlético Goianiense       1–2
2    Athletico Paranaense     Atlético Mineiro       NaN
3    Athletico Paranaense                Bahia       1–1
4    Athletico Paranaense             Botafogo       1–1
5    Athletico Paranaense          Corinthians       5–2
..                    ...                  ...       ...
394               Vitória            Juventude       1–1
395               Vitória            Palmeiras       0–2
396               Vitória  Red Bull Bragantino       2–1
397               Vitória            São Paulo       2–1
398               Vitória        Vasco da Gama       2–1

[380 rows x 3 columns]

In [3]:
tabela_jogos_ajustada["resultado"] = tabela_jogos_ajustada["resultado"].fillna("a jogar")
tabela_jogos_realizados = tabela_jogos_ajustada[tabela_jogos_ajustada["resultado"].str.contains("–")]
display(tabela_jogos_realizados)
tabela_jogos_faltantes = tabela_jogos_ajustada[~tabela_jogos_ajustada["resultado"].str.contains("–")]
tabela_jogos_faltantes = tabela_jogos_faltantes.drop(columns=["resultado"])
display(tabela_jogos_faltantes)

                     fora                 casa resultado
1    Athletico Paranaense  Atlético Goianiense       1–2
3    Athletico Paranaense                Bahia       1–1
4    Athletico Paranaense             Botafogo       1–1
5    Athletico Paranaense          Corinthians       5–2
6    Athletico Paranaense             Criciúma       0–0
..                    ...                  ...       ...
394               Vitória            Juventude       1–1
395               Vitória            Palmeiras       0–2
396               Vitória  Red Bull Bragantino       2–1
397               Vitória            São Paulo       2–1
398               Vitória        Vasco da Gama       2–1

[347 rows x 3 columns]

                     fora                  casa
2    Athletico Paranaense      Atlético Mineiro
23    Atlético Goianiense                 Bahia
38    Atlético Goianiense         Vasco da Gama
58       Atlético Mineiro         Vasco da Gama
65                  Bahia           Corinthians
68                  Bahia                Cuiabá
93               Botafogo         Internacional
95               Botafogo             Palmeiras
106           Corinthians              Criciúma
112           Corinthians                Grêmio
130              Criciúma            Fluminense
136              Criciúma   Red Bull Bragantino
154              Cruzeiro             Juventude
156              Cruzeiro   Red Bull Bragantino
170                Cuiabá            Fluminense
186              Flamengo              Criciúma
191              Flamengo             Fortaleza
200            Fluminense  Athletico Paranaense
215            Fluminense             Palmeiras
221             Fortaleza   Atlético Goianiense
239             Fortaleza               Vitória
247                Grêmio              Cruzeiro
259                Grêmio               Vitória
269         Internacional              Flamengo
271         Internacional             Fortaleza
282             Juventude      Atlético Mineiro
297             Juventude             São Paulo
307             Palmeiras              Cruzeiro
320   Red Bull Bragantino  Athletico Paranaense
344             São Paulo              Botafogo
352             São Paulo                Grêmio
368         Vasco da Gama                Cuiabá
389               Vitória              Flamengo

In [4]:
tabela_jogos_realizados[["gols_casa", "gols_fora"]] = tabela_jogos_realizados["resultado"].str.split("–", expand=True)
tabela_jogos_realizados=tabela_jogos_realizados.drop(columns=["resultado"])
tabela_jogos_realizados["gols_casa"] = tabela_jogos_realizados["gols_casa"].astype(int)
tabela_jogos_realizados["gols_fora"] = tabela_jogos_realizados["gols_fora"].astype(int)
display(tabela_jogos_realizados)

/tmp/ipykernel_4038/394496735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["gols_casa", "gols_fora"]] = tabela_jogos_realizados["resultado"].str.split("–", expand=True)
/tmp/ipykernel_4038/394496735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_jogos_realizados[["gols_casa", "gols_fora"]] = tabela_jogos_realizados["resultado"].str.split("–", expand=True)

                     fora                 casa  gols_casa  gols_fora
1    Athletico Paranaense  Atlético Goianiense          1          2
3    Athletico Paranaense                Bahia          1          1
4    Athletico Paranaense             Botafogo          1          1
5    Athletico Paranaense          Corinthians          5          2
6    Athletico Paranaense             Criciúma          0          0
..                    ...                  ...        ...        ...
394               Vitória            Juventude          1          1
395               Vitória            Palmeiras          0          2
396               Vitória  Red Bull Bragantino          2          1
397               Vitória            São Paulo          2          1
398               Vitória        Vasco da Gama          2          1

[347 rows x 4 columns]

In [5]:
media_gols_casa = tabela_jogos_realizados.groupby("casa").mean(numeric_only=True)
media_gols_casa = media_gols_casa.rename(columns={"gols_casa": "gols_feitos_casa", "gols_fora": "gols_sofridos_casa"})
display(media_gols_casa)
media_gols_fora = tabela_jogos_realizados.groupby("fora").mean(numeric_only=True)
media_gols_fora = media_gols_fora.rename(columns={"gols_casa": "gols_sofridos_fora", "gols_fora": "gols_feitos_fora"})
display(media_gols_fora)
#media_gols_sofridos_casa = 
#media_gols_sofridos_fora =

                      gols_feitos_casa  gols_sofridos_casa
casa
Athletico Paranaense          1.294118            1.058824
Atlético Goianiense           0.722222            1.277778
Atlético Mineiro              1.411765            1.352941
Bahia                         1.277778            0.833333
Botafogo                      1.611111            0.666667
Corinthians                   1.888889            1.000000
Criciúma                      1.176471            1.176471
Cruzeiro                      1.588235            0.764706
Cuiabá                        0.823529            1.117647
Flamengo                      1.470588            1.000000
Fluminense                    1.117647            0.941176
Fortaleza                     1.705882            0.470588
Grêmio                        1.411765            1.294118
Internacional                 1.666667            0.777778
Juventude                     1.500000            1.277778
Palmeiras                     1.941176            0.705882
Red Bull Bragantino           1.235294            1.000000
São Paulo                     1.666667            0.888889
Vasco da Gama                 1.470588            1.294118
Vitória                       1.176471            1.294118

                      gols_sofridos_fora  gols_feitos_fora
fora
Athletico Paranaense            1.333333          0.888889
Atlético Goianiense             1.764706          0.647059
Atlético Mineiro                1.444444          1.111111
Bahia                           1.764706          1.294118
Botafogo                        0.882353          1.411765
Corinthians                     1.470588          0.588235
Criciúma                        1.705882          1.117647
Cruzeiro                        1.411765          0.705882
Cuiabá                          1.388889          0.722222
Flamengo                        1.235294          1.647059
Fluminense                      1.294118          0.647059
Fortaleza                       1.529412          1.176471
Grêmio                          1.294118          0.941176
Internacional                   0.882353          1.235294
Juventude                       1.882353          0.941176
Palmeiras                       0.888889          1.333333
Red Bull Bragantino             1.555556          0.833333
São Paulo                       1.235294          1.176471
Vasco da Gama                   1.722222          0.666667
Vitória                         1.500000          1.111111

In [6]:
tabela_estatisticas = media_gols_casa.merge(media_gols_fora, left_index=True, right_index=True)
tabela_estatisticas = tabela_estatisticas.reset_index()
tabela_estatisticas = tabela_estatisticas.rename(columns={"casa":"time"})
display(tabela_estatisticas)

,time,gols_feitos_casa,gols_sofridos_casa,gols_sofridos_fora,gols_feitos_fora
0,Athletico Paranaense,1.294118,1.058824,1.333333,0.888889
1,Atlético Goianiense,0.722222,1.277778,1.764706,0.647059
2,Atlético Mineiro,1.411765,1.352941,1.444444,1.111111
3,Bahia,1.277778,0.833333,1.764706,1.294118
4,Botafogo,1.611111,0.666667,0.882353,1.411765
5,Corinthians,1.888889,1.000000,1.470588,0.588235
6,Criciúma,1.176471,1.176471,1.705882,1.117647
7,Cruzeiro,1.588235,0.764706,1.411765,0.705882
8,Cuiabá,0.823529,1.117647,1.388889,0.722222
9,Flamengo,1.470588,1.000000,1.235294,1.647059
10,Fluminense,1.117647,0.941176,1.294118,0.647059
11,Fortaleza,1.705882,0.470588,1.529412,1.176471
12,Grêmio,1.411765,1.294118,1.294118,0.941176
13,Internacional,1.666667,0.777778,0.882353,1.235294
14,Juventude,1.500000,1.277778,1.882353,0.941176
15,Palmeiras,1.941176,0.705882,0.888889,1.333333
16,Red Bull Bragantino,1.235294,1.000000,1.555556,0.833333
17,São Paulo,1.666667,0.888889,1.235294,1.176471
18,Vasco da Gama,1.470588,1.294118,1.722222,0.666667
19,Vitória,1.176471,1.294118,1.500000,1.111111

In [7]:
from scipy.stats import poisson


def calcular_pontuacao_esperada(linha):
    time_casa = linha["casa"]
    time_fora = linha["fora"]

    lambda_casa = tabela_estatisticas.loc[tabela_estatisticas["time"]==time_casa, "gols_feitos_casa"].iloc[0]*tabela_estatisticas.loc[tabela_estatisticas["time"]==time_fora, "gols_sofridos_fora"].iloc[0]
    lambda_fora = tabela_estatisticas.loc[tabela_estatisticas["time"]==time_fora, "gols_feitos_fora"].iloc[0]*tabela_estatisticas.loc[tabela_estatisticas["time"]==time_casa, "gols_sofridos_casa"].iloc[0]
    pv_casa = 0
    p_empate = 0
    pv_fora = 0

    for gols_casa in range(7):
        for gols_fora in range(7):
            probabilidade_resultado = poisson.pmf(gols_casa, lambda_casa) * poisson.pmf(gols_fora, lambda_fora)
            if gols_casa == gols_fora:
                p_empate += probabilidade_resultado
            elif gols_casa > gols_fora:
                pv_casa += probabilidade_resultado
            elif gols_casa < gols_fora:
                pv_fora += probabilidade_resultado


    ve_casa = pv_casa * 3 + p_empate
    ve_fora = pv_fora * 3 + p_empate
    linha["pontos_casa"]= ve_casa
    linha["pontos_fora"]= ve_fora
    return linha
#print(pv_casa)
#print(p_empate)
#print(pv_fora)

In [8]:
tabela_jogos_faltantes = tabela_jogos_faltantes.apply(calcular_pontuacao_esperada, axis=1)
display(tabela_jogos_faltantes)

                     fora                  casa  pontos_casa  pontos_fora
2    Athletico Paranaense      Atlético Mineiro     1.812864     0.951678
23    Atlético Goianiense                 Bahia     2.432470     0.380681
38    Atlético Goianiense         Vasco da Gama     2.352970     0.444678
58       Atlético Mineiro         Vasco da Gama     1.789156     0.981440
65                  Bahia           Corinthians     2.258882     0.454116
68                  Bahia                Cuiabá     1.378434     1.369226
93               Botafogo         Internacional     1.629053     1.107740
95               Botafogo             Palmeiras     1.858676     0.896248
106           Corinthians              Criciúma     2.095621     0.666823
112           Corinthians                Grêmio     2.215991     0.572558
130              Criciúma            Fluminense     1.930172     0.837581
136              Criciúma   Red Bull Bragantino     1.988984     0.787322
154              Cruzeiro             Juventude     2.138527     0.645706
156              Cruzeiro   Red Bull Bragantino     2.092676     0.670729
170                Cuiabá            Fluminense     2.001784     0.740667
186              Flamengo              Criciúma     1.087683     1.678239
191              Flamengo             Fortaleza     2.220038     0.569665
200            Fluminense  Athletico Paranaense     2.069998     0.686676
215            Fluminense             Palmeiras     2.551337     0.275563
221             Fortaleza   Atlético Goianiense     1.092938     1.646524
239             Fortaleza               Vitória     1.552651     1.209435
247                Grêmio              Cruzeiro     2.235594     0.553829
259                Grêmio               Vitória     1.579027     1.164563
269         Internacional              Flamengo     1.409160     1.320921
271         Internacional             Fortaleza     2.052438     0.685799
282             Juventude      Atlético Mineiro     2.117910     0.655338
297             Juventude             São Paulo     2.454681     0.310822
307             Palmeiras              Cruzeiro     1.645889     1.083884
320   Red Bull Bragantino  Athletico Paranaense     2.103103     0.676015
344             São Paulo              Botafogo     2.160766     0.620904
352             São Paulo                Grêmio     1.518812     1.241555
368         Vasco da Gama                Cuiabá     1.862873     0.862565
389               Vitória              Flamengo     2.039817     0.740081

In [9]:
def ajustar_nome_time(linha):
    for nome in nomes_times:
        if nome in linha["Equipevde"]:
            return nome
        
tabela_classificacao["time"] = tabela_classificacao.apply(ajustar_nome_time, axis=1)
tabela_classificacao_atualizada = tabela_classificacao[["time", "Pts"]]
tabela_classificacao_atualizada["Pts"] =tabela_classificacao_atualizada["Pts"].astype(int)

display(tabela_classificacao_atualizada)

/tmp/ipykernel_4038/3439815807.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_classificacao_atualizada["Pts"] =tabela_classificacao_atualizada["Pts"].astype(int)

                    time  Pts
0              Palmeiras   70
1               Botafogo   70
2          Internacional   65
3              Fortaleza   64
4               Flamengo   62
5              São Paulo   59
6               Cruzeiro   47
7                  Bahia   47
8            Corinthians   47
9       Atlético Mineiro   44
10         Vasco da Gama   43
11               Vitória   42
12  Athletico Paranaense   41
13                Grêmio   40
14             Juventude   39
15            Fluminense   38
16              Criciúma   37
17   Red Bull Bragantino   37
18                Cuiabá   30
19   Atlético Goianiense   26

In [10]:
pontuacao_casa = tabela_jogos_faltantes.groupby("casa").sum(numeric_only=True)[["pontos_casa"]]
pontuacao_fora = tabela_jogos_faltantes.groupby("fora").sum(numeric_only=True)[["pontos_fora"]]

display(pontuacao_casa)
display(pontuacao_fora)

                      pontos_casa
casa
Athletico Paranaense     4.173101
Atlético Goianiense      1.092938
Atlético Mineiro         3.930774
Bahia                    2.432470
Botafogo                 2.160766
Corinthians              2.258882
Criciúma                 3.183304
Cruzeiro                 3.881483
Cuiabá                   3.241307
Flamengo                 3.448977
Fluminense               3.931955
Fortaleza                4.272476
Grêmio                   3.734804
Internacional            1.629053
Juventude                2.138527
Palmeiras                4.410013
Red Bull Bragantino      4.081660
São Paulo                2.454681
Vasco da Gama            4.142126
Vitória                  3.131678

                      pontos_fora
fora
Athletico Paranaense     0.951678
Atlético Goianiense      0.825359
Atlético Mineiro         0.981440
Bahia                    1.823342
Botafogo                 2.003988
Corinthians              1.239381
Criciúma                 1.624903
Cruzeiro                 1.316434
Cuiabá                   0.740667
Flamengo                 2.247904
Fluminense               0.962239
Fortaleza                2.855959
Grêmio                   1.718393
Internacional            2.006720
Juventude                0.966161
Palmeiras                1.083884
Red Bull Bragantino      0.676015
São Paulo                1.862459
Vasco da Gama            0.862565
Vitória                  0.740081

In [11]:


def atualizar_pontuacao_previsao(linha):
    time = linha["time"]
    pontuacao = int(linha["Pts"]) + float(pontuacao_casa.loc[time,"pontos_casa"]) + float(pontuacao_fora.loc[time, "pontos_fora"])
    return pontuacao

tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada.apply(atualizar_pontuacao_previsao, axis=1)
tabela_classificacao_atualizada = tabela_classificacao_atualizada.sort_values(by="Pts", ascending=False)
tabela_classificacao_atualizada = tabela_classificacao_atualizada.reset_index(drop=True)
tabela_classificacao_atualizada.index = tabela_classificacao_atualizada.index + 1
display(tabela_classificacao_atualizada)

/tmp/ipykernel_4038/6772835.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabela_classificacao_atualizada["Pts"] = tabela_classificacao_atualizada.apply(atualizar_pontuacao_previsao, axis=1)

                    time        Pts
1              Palmeiras  75.493897
2               Botafogo  74.164754
3              Fortaleza  71.128436
4          Internacional  68.635773
5               Flamengo  67.696880
6              São Paulo  63.317140
7               Cruzeiro  52.197918
8                  Bahia  51.255811
9            Corinthians  50.498263
10      Atlético Mineiro  48.912214
11         Vasco da Gama  48.004691
12  Athletico Paranaense  46.124779
13               Vitória  45.871759
14                Grêmio  45.453196
15            Fluminense  42.894194
16             Juventude  42.104688
17              Criciúma  41.808207
18   Red Bull Bragantino  41.757675
19                Cuiabá  33.981974
20   Atlético Goianiense  27.918297